{% load filters_display %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Google Books API Example| {{book.volumeInfo.title}}</title>
</head>
<body>

<nav class="navbar  navbar-expand-sm navbar-light bg-light rounded">
    <a class="navbar-brand" href="{% url 'index' %}">Books</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row mb-2 mt-4">
        <div class="col">
            <div class="card flex-md-row mb-4 border border-primary">
                <img class="card-img-left flex-auto d-none d-md-block" src="{{book.volumeInfo.imageLinks.thumbnail}}">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">{{book.volumeInfo.authors|list_display}}</strong>
                    <h3 class="mb-0">{{book.volumeInfo.title}}</h3>
                    <div class="mb-1 text-muted">{{book.volumeInfo.publishedDate}}</div>
                    <p class="card-text mb-auto">{{book.volumeInfo.subtitle}}.</p>

                </div>
            </div>
        </div>
        <div class="mt-4">
            <h2><strong>Description</strong></h2>
            <h5> {{book.volumeInfo.description}}</h5>
            <span>{{book.volumeInfo.language|title}} {{book.volumeInfo.pageCount}}pg</span>
        </div>
    </div>
</div>
</body>


<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>