<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>


<div class="container bg-dark">
    {{books.totalItems}}
    <div class="row">
        <div class="col">
            {% for item in books.items %}
            <div class="card mt-4 shadow-sm bg-dark text-white" >
                <img class="card-img-top mx-auto" src="{{item.volumeInfo.imageLinks.thumbnail}}" style="width: 200px"
                     alt="Card image cap">
                <div class="card-body">
                    <h2>{{item.volumeInfo.title}}</h2>
                    <h5> {{ item.volumeInfo.authors }}</h5>

                    <h5> {{item.volumeInfo.categories}}</h5>
                    <h5>Language: {{item.volumeInfo.language}}</h5>
                </div>
            </div>

        </div>
    </div>
</div>

{% endfor %}


<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>


</html>